# Git & Docker files
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Environments
.env
venv/
env/

# Backend Caches
__pycache__/
*.pyc

# Frontend Dependencies
node_modules/
build/
dist/

# Database files (biar Docker nggak ngopi database lokal)
chroma_db/
data/